//
//  TrialAndActivation.xcconfig
//  Examples
//
//  Created by Dmytro Tretiakov on 4/15/15.
//  Copyright (c) 2015 DevMate Inc. All rights reserved.
//

#include "Examples.xcconfig"

OTHER_LDFLAGS = $(inherited) -ObjC "$(PROJECT_DIR)/Common/Kevlar/libkevlar.a" -lc++ -framework Security -framework IOKit
LIBRARY_SEARCH_PATHS = $(inherited) "$(PROJECT_DIR)/Common/Kevlar"
